body {
  text-align: center;
}
button {
  margin: 20px;
}
.container {
  font-size: 10px;
  display: flex;
  width: 480px;
}
.container div {
  background-color: aquamarine;
  border: 1px solid cadetblue;
}
